.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fam
*.bim
*.bed
*.log
*.nosex
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bam
*.bai
*.ssd
*.setID
*.cov
*.temp
*.map
*.ped
*.raw
*.gen
*.eignvec
*.eignval
*.irem
*.logistic
*.assoc
*.png
*.rds
*.png
*.jpg