Samples538_55gene_Plink_geno.01_maf.01_hwe.00001_logistic_recessive.log
Samples538_55gene_Plink_geno.01_maf.01_hwe.00001_logistic_recessive.assoc.logistic
A1_03_Samples538_55gene_logistic_recessive_volcano_plot.png
A1_03_Samples538_55gene_logistic_recessive_QQ_plot.png
